@media (max-width: 575.98px) { 
    #main-nav button {
        
        margin-top: 10px;
    }

 }


 @media (min-width: 768px) { 
    #main-nav button {
        margin-left: 1.5rem;
    }
 }

body {
    background: #f0f8ff;
}

#home {
    background: #343a40;
    color: #fff;
}

h1.display-4 {
    font-weight: bold;
}

li.nav-item {
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
}

li.nav-item:hover {
    background: #464f57;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 4px;
}

footer .nav-item:hover {
    background: #c8cfd6;
}

.box {
    padding: 60px 0;
    border-bottom: 1px dotted #6d6d6d;
}

button .navbar-toggler {
    outline: white;
}